---
import PrimaryButton from "../button/primaryButton.astro"
import SecondaryButton from "../button/secondaryButton.astro"
import siteContent from "../../data/site-content.json"
import { getAssetByPath } from "../../utils/getAssetByPath"

const heroImage = getAssetByPath(siteContent.components.hero.image)
---

<section class="heroSection" style={`--hero-background-image: url(${heroImage.src})`}>
    <div class="heroDivContent">
        <h1>{siteContent.components.hero.heading}</h1>
        <h3>{siteContent.components.hero.subheading}</h3>
        <h5>{siteContent.components.hero.eyebrow}</h5>
    </div>
    <div class="heroButtons">
        <PrimaryButton buttonText={siteContent.components.hero.primaryButton}/>
        <SecondaryButton buttonText={siteContent.components.hero.secondaryButton}/>
    </div>
</section>
