---
import SecondaryButton from "../button/secondaryButton.astro"
import siteContent from "../../data/site-content.json"
import { getAssetByPath } from "../../utils/getAssetByPath"

const aboutContent = siteContent.components.sections.aboutSection
const companyInfo = siteContent.companyInfo
const aboutImage = getAssetByPath(aboutContent.image)
const aboutBody = aboutContent.body.replaceAll("B. Mor & Moreaus", companyInfo.businessName)
---

<section class="aboutSection">
    <div class="aboutDivContent">
        <h1>{aboutContent.heading}</h1>
        <h5>{aboutBody}</h5>
        <SecondaryButton buttonText={aboutContent.buttonText} href={aboutContent.buttonHref}/>
    </div>
    <div class="aboutImgWrap">
        <img class="aboutImg" src={aboutImage.src} alt={aboutContent.imageAlt}>
    </div>
</section>
