---
import { Image } from "astro:assets"
import SecondaryButton from "../button/secondaryButton.astro"
import siteContent from "../../data/site-content.json"
import { getAssetByPath } from "../../utils/getAssetByPath"

const aboutContent = siteContent.components.sections.aboutSection
const aboutImage = getAssetByPath(aboutContent.image)
---

<section class="aboutSection">
    <div class="aboutDivContent">
        <h1>{aboutContent.heading}</h1>
        <h5>{aboutContent.body}</h5>
        <SecondaryButton buttonText={aboutContent.buttonText} href={aboutContent.buttonHref}/>
    </div>
    <div class="aboutImgWrap">
        <Image
          class="aboutImg"
          src={aboutImage}
          width={900}
          alt={aboutContent.imageAlt}
          loading="lazy"
          decoding="async"
        />
    </div>
</section>
