---
import SecondaryButton from "../button/secondaryButton.astro"
import siteContent from "../../data/site-content.json"
import { getAssetByPath } from "../../utils/getAssetByPath"

const aboutContent = siteContent.components.sections.aboutSection
const aboutImage = getAssetByPath(aboutContent.image)
---

<section class="aboutSection">
    <div class="aboutDivContent">
        <h1>{aboutContent.heading}</h1>
        <h5>{aboutContent.body}</h5>
        <SecondaryButton buttonText={aboutContent.buttonText}/>
    </div>
    <div class="aboutImgWrap">
        <img class="aboutImg" src={aboutImage.src} alt={aboutContent.imageAlt}>
    </div>
</section>
